@media only screen and (max-width: 1200px){
  .homepage-heading h1 {
    font-size: 80px;
  }

}
@media only screen and (max-width: 1024px) {
  .homepage-heading h1{
    font-size: 66px;
  }
}
@media only screen and (max-width: 991px){
  .homepage-heading {
    margin-top: 21%;
  }
  .thankupage-btn{
    padding-bottom: 57px;
  }

}
@media (min-width: 768px){
  .thankupage-btn .col-md-3{
    flex: 0 0 33%;
    flex: wrap;
    flex-wrap: wrap;
    width: 33%;
    max-width: initial;
    
  }
}
@media (min-width: 991px){
  .thankupage-btn .col-md-3{
    flex: 0 0 25%;
  }
}


@media only screen and (max-width: 768px) {
  .hidden768{
    display: none;
  }
  .show768{
    display: inherit;
  }
  .header .d-flex.justify-content-between{
    justify-content: flex-end !important;
  }
  .header .menu ul .visitors{
    margin-right: 30px;
  }
  .menu-btn {
    color: #fff;
    font-size: 35px;
  }
  .just-emi-imge {
    text-align: right;
    padding-top: 15px;
  }
  .overlay-menu{
    width: 100%;
    background: #000000d4;
    /* width: 50%; */
    height: 100vh;
    z-index: 999999999999;
    display: none;
    position: absolute;
    top: -14px;
    right: 0;
  }
  .open{
    display: block;
  }
  .overlay-menu{
    padding: 50px;
  }
  .overlay-menu .close-btn a i{
    color: #fff;
    font-size: 35px;
  }
  .mobile-menu{
    display: flex;
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .mobile-menu ul{
    margin: 0 auto;
    padding:50px 50px ;
  }
  .mobile-menu ul  li{
    list-style-type: none;
    padding: 15px 0;
    text-align: center;
  }
  .mobile-menu ul  li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
  }
  .homepage-heading {
    margin-top: 200px;
  }
  .homepage-heading h1 br {
    display: block;
  }
  .back-to-home{
    display: none;
  }
  .game-four-wrap ul li {
    width: 60px;
  }
  .game-four-wrap ul li img {
    width: 60px;
    position: relative;
    max-width: 100%;
  }
  .game-four-wrap ul li input[type=checkbox]{
    position: fixed;
    left: -18000px;
  }
  .game-four-wrap ul{
    padding-left: 15px;
    padding-right: 15px;
  }  
  .game-heading {
    margin-top: 150px;
   }
   .contact-form input{
    width: 254px;
   }
  .thanku-heading {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 630px) {
  .game-heading {
    margin-top: 200px;
}
.form-group.d-flex.justify-content-around{
  display: block !important;
}
}

@media only screen and (max-width: 600px){
  .contact-form input {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 580px) {
  footer p{
    text-align: center;
  }
  footer .social-inks{
    text-align: center !important;
  }
  footer ul{
    padding: 0;
  }
  .main-game ul {
    flex-direction: unset;
  }
  .card-deck .card{
    height: 162px;
  }
}

@media only screen and (max-width: 520px) {
  .card-deck .card{
    margin: 8px 8px;
  }
  .main-game{
    padding:0;
  }
  .thanku-heading h2 {
    font-size: 55px;
    padding-bottom: 0px;
  }
  .contact-form {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .just-emi-imge img{
    max-width: 115px;
  }
  .homepage-heading h1 {
  font-size: 50px;
  }
  .header  .logo img{
  max-width: 100%;
  width: 100%;
  }
  .single-game-wrap{
   padding: 0px 50px 0px 50px;
  }
  .game-heading{
    padding: 15px;
  }
  .game-heading h2 {
    font-size: 40px;
  }
  .game-heading p{
    font-size: 17px;
  }
  #game3 .question {
    margin-bottom: 0;
  }
  #game3 .question{
    font-size: 26px;
  }
  #game3 .answers label{
    width: 100%;
  }
  #game3 .answers{
    justify-content: center;
  }
  .quiz-carousel {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  #game3 .item {
    margin-bottom: 10px;
    padding:0px 15px;
  }


}
@media only screen and (max-width: 400px) {
.tinder--card{
  background-repeat:no-repeat;
  width: 300px;
  height: 393px;
}
.tinder--buttons {
  bottom: 70px;
}
}
