@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-Bold.otf') format('opentype'),
    url('../fonts/DaxOT-Bold.woff') format('woff'),
    url('../fonts/DaxOT-Bold.ttf') format('truetype'),
    url('../fonts/DaxOT-Bold.svg#DaxOT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-CondRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-CondRegular.otf') format('opentype'),
    url('../fonts/DaxOT-CondRegular.woff') format('woff'),
    url('../fonts/DaxOT-CondRegular.ttf') format('truetype'),
    url('../fonts/DaxOT-CondRegular.svg#DaxOT-CondRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}/*
  Theme Name: NewBiz
  Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-Bold.otf') format('opentype'),
    url('../fonts/DaxOT-Bold.woff') format('woff'),
    url('../fonts/DaxOT-Bold.ttf') format('truetype'),
    url('../fonts/DaxOT-Bold.svg#DaxOT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-CondRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-CondRegular.otf') format('opentype'),
    url('../fonts/DaxOT-CondRegular.woff') format('woff'),
    url('../fonts/DaxOT-CondRegular.ttf') format('truetype'),
    url('../fonts/DaxOT-CondRegular.svg#DaxOT-CondRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  color: #444;
  font-family: "DaxOT";
  font-weight: normal;
  overflow-x:hidden;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 0px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DaxOT";
  font-weight: 700;
  margin: 0 0 20px 0;
  padding: 0;
}
.zindex-2{
  z-index: 3;
  position: relative;
}
canvas{
  z-index: 1;
}
.header {
  padding: 15px 0;
  /* background: #00f; */
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9;
}
.header  .logo img{
  max-width: 100%;
}
.header .menu ul{
  max-width: 650px;
  margin: 0 0 0 auto;
  align-items: center;
}
.header .menu ul li{
  list-style-type: none;
}
.header .menu ul li a{
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.header .menu ul .visitors {
  background: #fff;
  padding-left: 10px;
  color: #f00;
  font-weight: 700;
  line-height: 1;
}
.header .menu ul .visitors span {
  margin-left: 10px;
  background: #171f45;
  padding: 6px 5px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
  border: 1px solid #fff;
}
.just-emi-imge img{
  max-width: 120px;
  width: 100%;
}
.just-emi-imge .cntst-date{
  color: #fdde42;
  font-size: 16px;
}
.home-page-main-section{
  background: url(../images/home-page-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 33px);
}
.game-type{
  padding-bottom: 4%;
}
.homepage-heading {
  margin-top: 14%;
}
.homepage-heading{
  width: 100%
}
.homepage-heading h1{
  font-size: 94px;
  font-weight: 600;
  text-transform: uppercase;
  background: -moz-linear-gradient(1deg, #fca400 0%, #fca400 49%, #f35c15 77%, #f35c15 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fca400), color-stop(49%, #fca400), color-stop(77%, #f35c15), color-stop(100%, #f35c15)); /* safari4+,chrome */
  background: -webkit-linear-gradient(1deg, #fca400 0%, #fca400 49%, #f35c15 77%, #f35c15 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(1deg, #fca400 0%, #fca400 49%, #f35c15 77%, #f35c15 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(1deg, #fca400 0%, #fca400 49%, #f35c15 77%, #f35c15 100%); /* ie10+ */
  background: linear-gradient(89deg, #fca400 0%, #fca400 49%, #f35c15 77%, #f35c15 100%); /* w3c */ 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.homepage-heading h1 br{
  display: none;
}
.home-page-carousel.owl-theme .owl-dots .owl-dot{
  padding-top: 10px !important;
}
.home-page-carousel.owl-theme .owl-dots .owl-dot span{
  margin: 0;
  height: 20px;
  width: 20px;
  line-height: 20px;
  background: transparent;
  color:#fff;
}
.home-page-carousel.owl-theme .owl-dots .owl-dot.active span, 
.home-page-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  font-weight: 600;
  font-size: 20px
}

.game-image{
  padding-bottom: 30px;
}
.game-image img{
  max-width: 100%
}
.game-title{
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 15px
}
.game-btns a.active, .game-btns a:hover{
  background: #faa302;
  color: #4e3f36;
  text-decoration: none;
  border: 1px solid transparent;
}
.game-btns a{
  display: inline-block;
  border: 1px solid #8b96ae;
  color: #8b96ae;
  padding: 10px 30px;
  border-radius: 29px;
  background: #0000;
  line-height: 1;
  font-size: 13px;
}
footer{
  background: #000;
  padding: 6px 10px; 
  font-size: 10px;
  position: relative;
  z-index: 2;
}
footer p{
  margin-bottom: 0;
  padding-top: 4px;
  color: #fff;
  font-weight: normal;
}
footer ul{
  margin: 0;
}
footer ul li{
  display: inline-block;
  padding-top: 1px;
  margin: 0 2px;
}
footer .right-reserve a{
  text-decoration: none;
  color:#fff;
}
footer .social-inks a{
  text-decoration: none;
  color: #000;
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

/* login form */
#login-form, #otp-form{
  background: #000;
}
#login-form .modal-body, #otp-form .modal-body{
  padding: 45px;

}

.form-heding h2{
  font-size: 40px;
  background: -moz-linear-gradient(1deg, #9a0674 1%, #930772 10%, #6E1167 58%, #4f1b5f 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #9a0674), color-stop(10%, #930772), color-stop(58%, #6E1167), color-stop(100%, #4f1b5f)); /* safari4+,chrome */
  background: -webkit-linear-gradient(1deg, #9a0674 1%, #930772 10%, #6E1167 58%, #4f1b5f 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(1deg, #9a0674 1%, #930772 10%, #6E1167 58%, #4f1b5f 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(1deg, #9a0674 1%, #930772 10%, #6E1167 58%, #4f1b5f 100%); /* ie10+ */
  background: linear-gradient(89deg, #9a0674 1%, #930772 10%, #6E1167 58%, #4f1b5f 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a0674', endColorstr='#4f1b5f',GradientType=1 ); /* ie6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-heding p{
  font-size: 12px;
  padding-bottom: 30px;
}
.width48 input{
  width: 48% ;
}
#form-captcha span#captcha{
  width: 42%;
}
#form-captcha #buttons{
  width: 10%;
}
#form-captcha #buttons i{
  font-size: 20px;
  border: 0;
}
#form-captcha #buttons #refresh{
  border: 0;
  background: transparent;
  padding: 0;
}
#form-captcha #buttons #refresh:focus{
  outline-color: transparent;
}
#form-captcha #textBox{
  width: 42%;
}
#form-captcha span#output{
  width: 100%;
}
.cp-error{
  padding-top: 10px;
  display: inline-block;
}
.form-submit{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #1f65a9;
  border-radius: 25px;
  box-shadow: 0 0 0 0rem transparent !important;
  border-color:transparent;
  outline-color:transparent;
}
.form-submit:hover, .form-submit:focus, .form-submit:active{
  box-shadow:transparent;
  border-color:transparent;
  outline-color:transparent;
  background: #1f65a9;
  box-shadow: 0 0 0 0rem transparent !important;
  -webkit-focus-ring-color auto 0px;
}
#otp-form input[type=number]::-webkit-inner-spin-button, 
#otp-form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.otp-form-text{
  padding: 30px 0;
}
button.close{
  position: absolute;
  top: -50px;
  right: 0;
  background:#fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 1;
}
button.close:hover, button.close:focus, button.close:active,{
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0 transparent;
  background: #fff;
  opacity: 1 !important;
}

/* game page 1 */
.game-page-section{
  background: url(../images/game-page-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 33px);
}
.game-heading {
  width: 100%;
  margin-top: 97px;
  position: relative;
}
.game-heading h2{
  font-size: 57px;
  font-weight: 600;
  color: #181e3f;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
}
.game-heading p{
  color: #fff;
  font-size: 20px;
}
.back-to-home{
  position: absolute;
  left: 15px;
  top: 20%;
  color: #fff;
  text-decoration: none;
}
.back-to-home:hover{
  color:#fff;
}
.back-to-home span{
  font-size: 12px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background: #fff;
  color: #ff6610;
  vertical-align: middle;
  display: inline-block;
  line-height: 19px;
}
.game-1{
  padding: 25px 0 27px;
}

/* tinder game */
.tinder {
  height: 441px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}
/*
.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}*/

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--card {
  display: inline-block;
  max-width: 400px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  width: 345px;
  height: 451px;
  padding: 25px 25px;
  box-sizing: border-box;
}
/*.tinder--card:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../images/before-card.png');
}*/
.product-bg{
  border-radius: 25px;
  background: #bcbcbc;
  padding: 28px 0px 55px;
  -moz-transform: skew(1deg, 0deg);
-webkit-transform: skew(1deg, 0deg);
-o-transform: skew(1deg, 0deg);
-ms-transform: skew(1deg, 0deg);
transform: skew(1deg, 0deg);
}
.product-bg img{
  -moz-transform: skew(-1deg, 0deg);
  -webkit-transform: skew(-1deg, 0deg);
  -o-transform: skew(-1deg, 0deg);
  -ms-transform: skew(-1deg, 0deg);
  transform: skew(-1deg, 0deg);
}
.tinder--card{
  background: url(../images/card-bg.png);
  background-size:100%;
  background-repeat: no-repeat;
}
.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}
.tinder--buttons {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  border: 15px;
  bottom: 25px;
}
.btn-wrap{
  display: inline-block;
}
.btn-wrap p{
  padding-top: 15px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
}
.tinder--buttons button#nope {
  background:#da0537;
  color: #fff;
}
.tinder--buttons button#love {
  background:#1db13d;
  color: #fff;
}
.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}
//  game 2 //
/*----------- Flip game -----------*/
.card-deck{
  flex-direction: unset;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-deck .card {
  color: transparent;
  background: url(../images/card-game-cover.png) no-repeat top left transparent;
  background-size: 100% 100%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  width: 14%;
  min-width: 129px;
  align-items: center;
  flex: unset;
  flex-direction: unset;
  margin: 11.5px 14px;;
  padding: 0;
  -webkit-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.40);
-moz-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.40);
box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.40);
}

.card-deck .card.open {
  cursor: default;
  animation-name: flipInY;
  animation-duration: 0.5s;
}

.card-deck .card.open span{
  background: #ffffff;
}
.card-deck .card.open span img,.card-deck .card.matching span img{
  max-width: 100%;
  width: auto;
  visibility: visible;
}
.card-deck .card.show {
  font-size: 33px;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

/* Styles matching cards. Not sure why, but .card-deck needed */
.card-deck .card.matching {
  cursor: default;
  font-size: 33px;
  animation-name: rubberBand;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  animation-duration: 0.5s;
  background: transparent;
}
.card-deck .card.matching span{
  background: #fff;
}

.card-deck .card.not-matching {
  animation-name: pulse;
  animation-duration: 0.5s;
  background: transparent;
}
.card-deck .card.disabled {
  pointer-events: none;
  opacity: 0.9;
}
.score-panel {
  text-align: left;
  margin: 0.4em 0 0.4em;
}

.stars {
  padding: 0;
  display: block;
  margin: 0 5px 0 0;
}

.stars li {
  list-style: none;
  display: inline-block;
}

.restart {
  cursor: pointer;
  color: #2eb82e;
}

.timer {
  margin: 0 0.5em;
}
.gamemodal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.62);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.gamemodal  .modal-content {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  width: 85%;
  position: relative;
  transition: all 2s ease-in-out;
}

.gamemodal .modal-content h2 {
  margin-top: 0;
  color: #333;
}

.gamemodal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}

.gamemodal .close:hover {
  color: #1db9f2;
}

.gamemodal .modal-content .congrats-message,
.info-message {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

.congrats-message {
  margin-top: 0.9em;
}

.star-rating li {
  display: inline-block;
  list-style: none;
}
.play-again {
  cursor: pointer;
  background-color: #1db9f2;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 40%;
  color: #fff;
  border-radius: 5px;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.game {
  background-color: #fff0d3;
  width: calc(100%);
}

.back {
  padding: 15px 40px;
  background: #ed2024 url(../images/arrow.png) no-repeat top 22px left 17px;
}

.back a {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  font-family: 'CocogooseProtrial';
}

.tower {
  position: fixed;
  bottom: 0;
  left: 10px;
}

.width40 {
  float: right;
  width: 50%;
  text-align: right;
}

.width60 {
  float: left;
  width: 50%;
}

.width50 {
  float: left;
  width: 50%;
}

.game1 {
  padding: 20px;
  box-sizing: border-box;
}

.timmer {
  position: relative;
  background: url(../images/time.png) no-repeat top left;
  width: 180px;
  height: 84px;
  background-size: 100%;
}

.reset {
  position: absolute;
  right: 20px;
  top: 10px;
}

#timing {
  color: #000;
  font-size: 30px;
  font-family: 'DINNextLTProBold';
  padding: 12px 13px;
}

.hd {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 30px;
  font-family: 'DINNextLTProBold';
  margin-top: -20px;
  padding-right: 20px;
  box-sizing: border-box;
}

#pair-left {
  position: relative;
  background: url(../images/pair-left.png) no-repeat top left;
  width: 100%;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 30px;
  font-family: 'DINNextLTProBold';
  padding: 12px 10px;
  box-sizing: border-box;
  text-align: center;
}

.main-game {
  padding: 0 20px;
  width: 100%;
}

.main-game ul {
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-game ul li {
  float: left;
  padding: 5px;
  box-sizing: border-box;
  width: 50%;
  list-style: none;
  vertical-align: middle;
  display: table;
  min-height: 126px;
}

.main-game ul li span {
  border: none;
  border-radius: 10px;
  display: block;
  text-align: center;
  background: transparent url(../images/flip-cover.png) no-repeat center center;
  background-size: 100px;
  width: 100%;
  vertical-align: middle;
}

.main-game ul li span img {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  display: block;
  min-height: auto;
  border-radius: 10px;
  background: transparent;
  visibility: hidden;
}
.quiz-carousel{
  padding-top: 70px;
  padding-bottom: 81px;
}
#game3 .question{
  font-size: 36px;
  color: #ffff;
  padding-bottom: 35px;
}
#game3 .item{
  margin-bottom: 60px;
}
#game3 .answers {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#game3 .answers label{
  width: 49%;
  text-align: left;
  background: #171d3f;
  color: #fff;
  padding: 1px;
  border-radius: 25px;
  border: 1px solid #171d3f;
  margin-bottom: 30px;
  max-width: 335px;
  height: 44px;
}
#game3 .answers label:hover, 
#game3 .answers label:focus, 
#game3 .answers label.active{
  background: transparent;
  border:1px solid #171d3f;
  color: #171d3f;
}
#game3 .answers label input{
  visibility: hidden;
  height: 0;
  width: 0;
}
#game3 .answers label span{
  display: inline-block;
  background: #ffb300;
  border-radius: 50%;
  color: #171d3f;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
#game3 .answers label p{
  display: inline;
  padding: 0 50px;
}
#game3.owl-theme .owl-dots .owl-dot:focus, 
#game3.owl-theme .owl-dots .owl-dot:active, 
#game3.owl-theme .owl-dots .owl-dot:hover{
  border: 0 !important;
  outline: 0 !important;
  outline-color: transparent;
  border-color: transparent;
}
#game3.owl-theme .owl-dots .owl-dot span{
  background: #7d5100;
}
#game3.owl-theme .owl-dots .owl-dot.active span, 
#game3.owl-theme .owl-dots .owl-dot:hover span{
  background: #491b59;
}
/* game-4*/
.game-four-wrap{
  width: 100%;
  padding-top: 30px;
}
.game-four-wrap ul{
  margin: 0 auto;
  text-align: center;
  padding: 0;
  padding-bottom: 30px;
}
.game-four-wrap ul li{
  display: inline-block;
  width: 10%;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  margin-right: 0;
  margin: 0 auto;
  margin-left: -4px;
  background: #fee4b3;
  border: 1px solid #b49d6d;
  border-collapse: collapse;
  position: relative;

}
.game-four-wrap ul li input[type=checkbox]{
  height: 0;
  width: 0;
  display: none;
}
.game-four-wrap ul li img{
  width: 60px;
  position: relative;
}
.game-four-wrap ul li.active:after{
  content: '\f00c';
  height: 18px;
  width: 18px;
  background: #008000;
  z-index: 99;
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
  line-height: 19px;
  border-radius: 50%;
  right: 18px;
  top: 1px;
  font-size: 12px;
}
.game-4-submit {
  background: #1f65a9;
  color: #fff;
  display: inline-block;
  padding: 10px 50px;
  border: 0;
  outline: 0;
  border-radius: 25px;
}
.game-four-wrap form{
  padding-bottom: 89px;
}

/* thankyou page */
.thanku-heading{
  width: 100%;
  margin-top: 9%;
  position: relative;
  padding: 15px;
}
.thanku-heading h2{
  font-size: 94px;
  font-weight: 600;
  color: #181e3f;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 26px
}
.thanku-heading p{
  color: #fff;
  font-size: 20px;
}
.contact-form{
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-form form{
  width: 100%;
}
.contact-form input{
  width: 300px;
  background: #0000;
  border: 1px solid #0000;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}
.contact-form .form-control:focus{
  color: #fff;
  background-color: #0000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border: 1px solid #0000;
  border-bottom: 1px solid #fff;
}
.contact-form button{
  border: 0;
  background: 0;
}
.contact-form button img{
  width: 30px;
}
.contact-form button:focus{
  outline: 0;
}
.contact-form ::placeholder{
  color: #fff;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


.thankupage-btn{
  width: 100%;
  padding-bottom: 87px;
}
.thankupage-btn .btns{
  display: block;
  background: #1f65a9;
  color: #fff;
  text-decoration: none;
  padding: 12px 0 10px;
  line-height: 1;
  border-radius: 25px;
  margin-bottom: 30px;
}
.thankupage-btn .btns:hover{
  text-decoration: none;
}


/* mobile menu */
.show768{
  display: none;
}
.overlay-menu{
  display: none
}
/* timer */

/* basic styles for black background and crosshair cursor */
}

canvas {
  cursor: crosshair;
  display: block;
  position: fixed;
  bottom: 0; 
  left: 0;
}